  <%= form_tag items_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= select_tag :search_combo,
            options_from_collection_for_select(@systems, "id", "sysname", params[:search_combo])%>
      Favorito <%= check_box_tag :fav, params[:fav] %>
      <%= submit_tag "Buscar", :name => nil, :class => "btn btn-info"%>
    </p>
 
  <a href="/items/new" class="btn btn-success">Nuevo</a>

  <table class="table table-hover">
  <tr>
    <th>Nombre</th>
    <th>Plataforma</th>
    <th></th>
  </tr>
   
  <div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @items %>
    </div>
    <%= will_paginate @items %>
  </div>

  <% @items.each do |item| %>

    <tr>
      <td><%= item.name %></td>
      <td><%= item.system %></td>
      <td style="width:90px">
        <div class="btn-group">
          <%= link_to 'S', item_path(item), :class => "btn btn-info" %> <!-- en el tutorial estaba malo, habia que pasarle item -->
          <%= link_to 'E', edit_item_path(item), :class => "btn btn-warning" %>
          <!-- <%= link_to 'D', item_path(item), method: :delete, data: { confirm: 'Estas seguro?' }, :class => "btn btn-danger"%> -->
        </div>
      </td>
    </tr>
  <% end %>


</table>

  <div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @items %>
    </div>
    <%= will_paginate @items %>
  </div>

   <% end %>


<!--<%= link_to 'Volver', controller: "items"%> -->
 <!--<%= link_to 'Nuevo Item', new_item_path %> -->



